# Dart and Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Local configuration
**/android/local.properties
**/android/key.properties
*.jks
*.keystore

# IDE and system files
.idea/
*.iml
.DS_Store
